.swap,
.swap button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.swap button {
  border-radius: 50%;
  border: 1px solid rgb(221, 221, 221);
  padding: 16px;
}

.swapAnimation {
  animation: rotateSwapBtn 0.2s ease 0s 1 alternate forwards;
}

@media screen and (max-width: 570px) {
  .swap button {
    transform: rotateZ(90deg);
    transition: all 0.2s ease;
  }
  .swapAnimation {
    animation: rotateSwapBtn2 0.2s ease 0s 1 alternate forwards;
  }
}

@keyframes rotateSwapBtn {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

@keyframes rotateSwapBtn2 {
  0% {
    transform: rotateZ(90deg);
  }
  100% {
    transform: rotateZ(270deg);
  }
}
