.currenciesList {
  position: absolute;
  top: 85px;
  left: 0;
  width: 0;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 10px;
  background-color: #fff;
  z-index: 100;
  overflow: hidden;
  transition: all 0.2s ease;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
}

/* width */
.currenciesList::-webkit-scrollbar {
  width: 3px;
  border-radius: 50px;
}

/* Track */
.currenciesList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

/* Handle */
.currenciesList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

/* Handle on hover */
.currenciesList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.noResults {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}

.visible {
  width: calc(100% - (10px * 2));
  min-height: 30px;
  max-height: 300px;
  height: max-content;
  overflow-y: scroll;
  padding: 10px;
}

.noResultsList {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
