.inputWrap {
  position: relative;
  gap: 4px;
  width: 100%;
  min-width: 90px;
  display: flex;
  flex-direction: column;
}

.inputInner {
  min-width: 120px;
  max-height: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
  padding: 12px;
}

.inputInner input {
  width: 100%;
  flex: 1;
  color: rgb(20, 30, 55);
}

.inputName {
  width: fit-content;
  font-weight: 600;
}

.arrowWrap,
.crossWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.currencyWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  box-shadow: rgb(0 17 51 / 5%) 0px 3px 15px;
  padding: 12px;
}

@media screen and (max-width: 570px) {
  .inputWrap {
    min-width: 130px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
