.currency {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 5px;
  cursor: pointer;
}

.currency img {
  width: 25px;
  width: 25px;
  padding-right: 5px;
  object-fit: cover;
}

.currency span {
  white-space: nowrap;
}

.fullName {
  color: rgb(92, 102, 123);
}

.visible {
  display: unset;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 275px) {
  .visible {
    display: none;
  }
}
