html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: rgb(20, 30, 55);
  background-color: #0a146e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
button {
  outline: none;
  background-color: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

input[type='checkbox'] {
  margin: 0;
}
